* {
  block-size: border-box;
  margin: 0;
  padding: 0;
}
.body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  width: 1200px;
  margin: 50px auto;
}
.leftblock {
  float: left;
  text-align: left;
  background-color: #FBFBFB;
  width: 310px;
}
.navigation h3 {
  font-size: 18px;
  color: #3D3D3D;
  padding-left: 18px;
  padding-top: 14px;
}
.navigation ul {
  font-size: 15px;
  list-style: none;
  padding-left: 30px;
}
.greenhouse {
  color: #46A358;
}
.navigation a {
  text-decoration: none;
  color: #3D3D3D;
  line-height: 40px;
  padding-top: 7px;
}
.navigation a:hover {
  color: #46A358;
  font-weight: bold;
}
.super img {
  margin-top: auto;
}
.rightblock {
  text-align: right;
  width: 840px;
  float: left;
  background-color: #ffffff;
  margin-left: 50px;
}
.sorting button {
  float: left;
  border: none;
  background-color: #ffffff;
  font-size: 15px;
  padding: 0 40px 7px 0;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
.sorting button:hover {
  color: #46A358;
  border-bottom: 2px solid #46A358;
  padding-bottom: 7px;
}
.sort {
  float: right;
  margin-right: 21px;
}
.sort p {
  float: left;
  font-size: 15px;
  color: #3D3D3D;
  padding-right: 8px;
}
.sort button {
  float: left;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  font-size: 15px;
}
.carts {
  overflow: hidden;
  width: 840px;
}
.product {
  float: left;
  width: 258px;
  margin-top: 31px;
  border-color: #FBFBFB;
  cursor: pointer;
  text-align: left;
  padding-bottom: 70px;
}
.product img {
  width: 100%;
  padding-bottom: 12px;
}
.product p {
  padding-bottom: 6px;
}
.price {
  color: #46A358;
}
.pagination{
  text-align: right;
  margin-top: 90px;
}
.pagination a {
  text-decoration: none;
  color: #3D3D3D;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid #E5E5E5;
  padding: 10px 15px;
}
.pagination a:hover {
  background-color: #46A358;
  color: #ffffff;
  font-weight: bold;
}